<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<!-- Define our output appender(s) -->
  <appender name="RollingFiles" type="log4net.Appender.RollingFileAppender">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />

    <param name="File" value=".\\logs\\Manufacturing.log" />
		<param name="AppendToFile" value="true" />

		<param name="MaxSizeRollBackups" value="20" />
		<param name="MaximumFileSize" value="10MB" />
		<param name="RollingStyle" value="Size" />
		<param name="StaticLogFileName" value="true" />

		<layout type="log4net.Layout.PatternLayout">
			<param name="Header" value="*********************************** Log Started ***********************************&#13;&#10;" />
			<param name="Footer" value="&#13;&#10;*********************************** Log Ended ***********************************&#13;&#10;&#13;&#10;" />
			<param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<!-- This outputs to the output window when debugging -->
	<appender name="TraceAppender" type="log4net.Appender.TraceAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<!-- This appender is used to buffer messages in memory to minimize the performance impact of logging -->
	<appender name="BufferedAppender" type="log4net.Appender.BufferingForwardingAppender" >
		<bufferSize value="512" />
		<lossy value="true" />
		<!-- Logs the x number of messages when Warn or above is encountered -->
		<evaluator type="log4net.Core.LevelEvaluator">
			<threshold value="WARN"/>
		</evaluator>
		<!-- Logs all messages that are Info or above -->
		<lossyEvaluator type="log4net.Core.LevelEvaluator">
			<threshold value="INFO"/>
		</lossyEvaluator>
		<appender-ref ref="RollingFiles" />
		<appender-ref ref="ConsoleAppender" />
	</appender>

	<appender name="CentralUdpAppender" type="Log4stuff.Appender.Log4stuffAppender, Log4stuff.Appender">
    <param name="ApplicationId" value="1E899147-44CC-43D9-8F38-0D1EB5CD1D39" />
	</appender>

  <appender name="LocalUdpAppender" type="log4net.Appender.UdpAppender">
    <param name="RemoteAddress" value="127.0.0.1" />
    <param name="RemotePort" value="8080" />
    <layout type="log4net.Layout.XmlLayoutSchemaLog4j, log4net" />
  </appender>


	<!-- Setup the root category, add the appenders and set the default level -->
	<root>
		<level value="DEBUG" />

		<!-- In production, use the BufferedAppender for performance -->
		<appender-ref ref="RollingFiles" />
		<appender-ref ref="TraceAppender" />
		<appender-ref ref="CentralUdpAppender" />
    <appender-ref ref="LocalUdpAppender" />
	</root>

 	<logger name="root">
		<level value="FATAL" />
	</logger>
</log4net>